@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

nav {
  color: white;
}

header {
  background-color: #313131;
  margin: 0;
  border: 1px solid #0fffcf;
}

body {
  background-color: #6e6e6e;
}

h1 {
  margin: auto;
  text-align: center;
  padding: 1em;
  font-family: "Kanit", sans-serif;
  font-size: 2.4em;
}

li {
  margin: 4px;
}

ul {
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

.home {
  margin-bottom: 10em;
}

.logo {
  margin: auto;
  text-align: center;
  width: 10em;
}

.body-home {
  font-family: "Work Sans", sans-serif;
  background-image: url(../img/marjan-blan-marjanblan-9tqAeLDQT-o-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: auto;
  height: 100vh;
}

.body-login {
  font-family: "Work Sans", sans-serif;
  background-color: #6e6e6e;
  background-image: url(../img/marjan-blan-marjanblan-9tqAeLDQT-o-unsplash.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  height: 100vh;
}

.body-reg {
  font-family: "Work Sans", sans-serif;
  background-color: #6e6e6e;
  background-image: url(../img/marjan-blan-marjanblan-9tqAeLDQT-o-unsplash.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
}

.body-account {
  font-family: "Work Sans", sans-serif;
  background-color: #6e6e6e;
  background-image: url(../img/marjan-blan-marjanblan-9tqAeLDQT-o-unsplash.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  height: 100vh;
}

.body-logout {
  font-family: "Work Sans", sans-serif;
  background-color: #6e6e6e;
  background-image: url(../img/marjan-blan-marjanblan-9tqAeLDQT-o-unsplash.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  height: 100vh;
}

.body-reg h1 {
  font-size: 2.2em;
}

.body-login h1 {
  font-size: 2.2em;
}

.nav {
  display: flex;
  list-style: none;
  padding: 1em;
  justify-content: space-around;
}

.welcome-button input {
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

div .welcome-button {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

div #register {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;
}

input {
  color: white;
}

.reg-form-container {
  display: block;
}

.first-name {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.last-name {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

.email {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.pass {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.phone {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.city {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.country {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.avatar {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 2em 0;
}

.avatar input {
  margin-top: 0.8em;
}

.register-form {
  margin: auto;
  padding: 0 3em;
  padding-bottom: 3em;
  max-width: 40em;
}

.register-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 0.4em;
  width: 100%;
}

.register-form select {
  background-color: #313131;
  color: white;
  padding: 0.4em 1em;
  border: 1px solid white;
  border-radius: 3em;
}

.register-form textarea {
  background-color: #313131;
  color: white;
  border: 1px solid white;
  border-radius: 1em;
  height: 8em;
  width: 100%;
}

.login-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 0.5em 0;
  padding-top: 0.8em;
  width: 100%;
}

.login-form button {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.account-form button {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

p .formfield {
  margin: auto;
}

.formfield label {
  padding: 1em 0;
}

#profession {
  margin-top: 1em;
}

p textarea {
  margin: 0;
}

.select-form {
  padding-top: 2em;
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

.formfield * {
  vertical-align: middle;
}

input::placeholder {
  color: #808080;
  font-family: "Work Sans", sans-serif;
}

.login-form {
  margin: auto;
  width: 80%;
  align-items: center;
  max-width: 30em;
}

.account-form {
  margin: auto;
  width: 80%;
  align-items: center;
  max-width: 30em;
}

.account-form button {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding-bottom: 2.2em;
}

.account-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 0.5em 0;
  padding-top: 0.8em;
  width: 100%;
}

.welcome-hr {
  width: 65%;
  margin-top: 4em;
  border-bottom: none;
  border-top: 1px solid white;
}

button input {
  align-content: center;
}

#register {
  margin: 0 3em;
  border: 1px solid #0fffcf;
  background-color: #313131;
  color: white;
  border-radius: 2em;
  box-shadow: 0px 1px 3px black;
  padding: 0.6em;
  align-items: center;
  width: 9em;
  margin: auto;
}

#login {
  margin: 0 3em;
  border: 1px solid #0fffcf;
  background-color: #313131;
  color: white;
  border-radius: 2em;
  box-shadow: 0px 1px 3px black;
  padding: 0.6em;
  align-items: center;
  width: 9em;
  text-align: center;
  margin: auto;
}

#update {
  margin: 0 3em;
  border: 1px solid #0fffcf;
  background-color: #313131;
  color: white;
  border-radius: 2em;
  box-shadow: 0px 1px 3px black;
  padding: 0.6em;
  align-items: center;
  width: 9em;
  margin: auto;
}
/* For user display, design scheme for the table */
/* --------------------------------------------- */
table {
  table-layout:fixed;
}
.userDisp {
  width: 90%;
  margin: 2% 5%;
  border-collapse: collapse;
  border: 1px solid #0fffcf;
  font-size: 1em;
}
.tableHeading {
  text-align: left;
  background-color: #3131318f;
}
.tableHeading th {
  padding: 1em 0.5em;
  font-size: 1.25rem;
}
#userList {
  text-align: left;
  background-color: rgba(112, 112, 112, 0.658);
}
#userList td {
  padding: 1em;
  font-size: 1rem;
}
/* --------------------------------------------- */
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgb(0, 0, 0, 0.9);
}

.loader {
  border: 13px solid transparent;
  border-top: 13px solid #0fffcf;
  border-bottom: 13px solid #0fffcf;
  border-radius: 50%;
  width: 70px;
  height: 70px;

  transition: opacity 0.5s ease;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 45em) {
  .reg-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
  }

  .register-form input {
    width: 100%;
  }

  .select-form {
    padding-top: 0;
  }

  .avatar input {
    width: 100%;
  }
}
